.coverPhoto{
    background-color: green;
    height: 32vh;
    background: url('cover.jpg') center/cover;
  }
  
  .u{
    margin-bottom: 50px;
  }
  
  .button{
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: bolder;
    color: #5093CE;
    background-color: aliceblue;
    border: none;
    border-top: 0.15px solid rgb(228, 218, 218);
    border-right: 0.15px solid rgb(228, 218, 218);
    position: relative;
    bottom: -6px;
    z-index: 5;
    
  }
  
  @media only screen and (min-width: 650px){
    .coverPhoto{
      height: 40vh;
    }
  }
  
  @media only screen and (min-width: 800px){
    .coverPhoto{
      height: 50vh;
    }
  }
  
  @media only screen and (min-width: 1000px){
    .coverPhoto{
      height: 60vh;
    }
  }